/.idea

/*/target/

*.iml
*.ipr
*.iws

/*/.settings/
*.classpath
*.project

*.log
/test/*log.log*
/utility/*log.log*
/log

/MyBatis_Gen/src/main/java/com/jarvis/mapper/
/MyBatis_Gen/src/main/resources/com/jarvis/mapper/xml/*.xml

